<!DOCTYPE html>
<html>

<head>
    <title>Add</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>

<body>
    <h1>Add new Book into System</h1>
    <form action="/book/new" method="post">
        <label for="isbn">ISBN :</label>
        <input type="text" name="isbn" placeholder="Isbn">
        <br>
        <label for="title">Title :</label>
        <input type="text" name="title" placeholder="Title">
        <br>
        <label for="Author">Author :</label>
        <input type="text" name="Author" placeholder="Author">
        <br>
        <label for="category">Category :</label>
        <input type="text" name="category" placeholder="Category">
        <br>
        <label for="stock">Stock :</label>
        <input type="text" name="stock" placeholder="Stock">
        <br>
        <br>
        <input type="submit" name="" value="Submit">
    </form>
</body>

</html>
